name: Create release
on: [push]

jobs:
  build:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: AutoReleaser
        uses: Qybercom/AutoReleaser-GitHub
        with:
          platform: 'npm'